# DATA SCIENCE NOTEBOOK

## Introduction
This notebook contains exercises related to data science, including the use of various languages, libraries, and tools. It also includes some basic arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- PyTorch

## Data Science Tools

| Tool            | Description                                        |
|-----------------|----------------------------------------------------|
| Jupyter Notebook| Interactive computing environment                  |
| RStudio         | Integrated development environment for R           |
| Apache Spark    | Distributed computing system                       |
| Tableau         | Data visualization tool                            |
| MATLAB          | Numerical computing environment                    |

## Arithmetic Expression Examples
Below are examples of basic arithmetic operations like addition and multiplication.

In [11]:
# Example of multiplication and addition
result = (3 * 4) + 5
result

17

## Objectives
- Understand basic data science languages and tools.
- Perform basic arithmetic operations in Python.
- Learn how to create and format markdown cells.

## Author
Arun Reddy